@charset "UTF-8";
:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --logo-color: #000000;
  --accent-color: #2196F3;
  --background-color: #FFFFFF;
  --hero-background: #2F303A;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: var(--accent-color);
}
.logo > span {
  color: var(--logo-color);
}

.nav-link, .contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.nav-link {
  color: var(--primary-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
}
.nav-link:hover, .nav-link:focus {
  color: var(--accent-color);
}

.contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}
.contacts-list:hover, .contacts-list:focus {
  color: var(--accent-color);
}

.contacts-icon {
  fill: rgb(117, 117, 117);
}

.network-icon {
  width: 20px;
  height: 20px;
  fill: rgb(175, 177, 184);
}

.contacts-link {
  color: var(--secondary-text-color);
}
.contacts-link:hover, .contacts-link:focus {
  color: var(--accent-color);
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.nav-item:not(:first-child),
.contacts-item:not(:first-child) {
  margin-left: 50px;
}

.container header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    display: none;
  }
}

.menu-btn {
  display: inline-block;
  background-color: transparent;
  border: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  color: var(--primary-text-color);
  background-color: var(--background-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  initial-letter: 0, 3em;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  padding-Left: 15px;
  padding-right: 15px;
  margin-Left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 786px) {
  .container {
    width: 786px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

ul,
p,
h2,
h3 {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.hero.section {
  background-color: var(--hero-background);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 200px;
  padding-bottom: 165px;
  background-repeat: no-repeat;
}
@media (min-device-pixel-ratio: 1), (-webkit-min-device-pixel-ratio: 1), (min-resolution: 96dpi), (min-resolution: 1dppx) {
  .hero.section {
    background-image: url("../hero/Img@1x.jpg");
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero.section {
    background-image: url("../hero/Img@1x-2.jpg");
  }
}
@media (min-device-pixel-ratio: 3), (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
  .hero.section {
    background-image: url("../hero/img3.png");
  }
}

.hero .container {
  text-align: center;
}

h1 {
  width: 696px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background-color);
}

.hero-button {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--background-color);
  background-color: var(--accent-color);
}

.hero {
  background: rgba(47, 48, 58, 0.4);
  background-image: url("../img/w-b.jpg");
  background-repeat: no-repeat;
}

@media screen and (min-width: 1200px) {
  .advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 480px) {
  .item {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .item {
    width: 270px;
  }
}

.advantages .title {
  font-weight: 700;
  margin-bottom: 10px;
}

.advantages .title,
.advantages .text {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  color: var(--secondary-text-color);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 50px;
}

/* Чим ми займаємось */
.what-we-do {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.what-we-do div {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.img-what-we-do {
  width: 370px;
}

.icon-arials.item::before {
  background-image: url(../img/antenna\ 1.png);
  background-repeat: no-repeat;
}

.icon-clock.item::before {
  background-image: url(../img/2.png);
  background-repeat: no-repeat;
}

.icon-diagram.item::before {
  background-image: url(../img/4.png);
  background-repeat: no-repeat;
}

.icon-astronaut.item::before {
  background-image: url(../img/3.png);
  background-repeat: no-repeat;
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.border {
  padding: 30px;
  margin: 10px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin-bottom: 10px;
}

.job {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 42px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--secondary-text-color);
}

.network-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.network-list a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgb(175, 177, 184);
  width: 44px;
  height: 44px;
}

.network-list a:hover,
.network-list a:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
}

.network-list a:hover .network-icon,
.network-list a:focus .network-icon {
  fill: var(--background-color);
}

/* футер */
.section-footer {
  padding-bottom: 60px;
  padding-top: 60px;
  background-color: #2F303A;
}

.section-footer .contacts-list {
  display: block;
  padding-left: 2px;
}

.footer {
  background-color: var(--hero-background);
}

.footer .logo > span {
  color: var(--background-color);
}

address {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--background-color);
}

.footer.contacts-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
}

.network-link {
  background-color: rgba(255, 255, 255, 0.1);
  color: #FFFFFF;
  border-radius: 50%;
}

.contacts-link .netwok-icon {
  fill: currentColor;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}

.section .our-team {
  background-color: #F5F4FA;
}

.img {
  width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.border {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.item::before {
  content: "";
  display: block;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
  background-position: center;
  margin-bottom: 30px;
}

.link-rgl {
  margin: 15px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  width: 178px;
  height: 92px;
  color: #757575;
}

.cust-list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cust-icon {
  fill: currentColor;
}

.link-rgl:hover,
.link-rgl:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.join {
  position: absolute;
  color: #FFF;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-left: 518px;
  margin-top: 75px;
  margin-right: 986px;
  margin-bottom: 273px;
}

.programs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.netwr {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  width: 44px;
  height: 44px;
}

.pr-list a:hover,
.pr-list a:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
}

.pr-list a:hover .netwr,
.pr-list a:focus .netwr {
  fill: var(--background-color);
}

.what-we-do .text {
  padding: 27px 113px;
  background: rgba(47, 48, 58, 0.8);
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  height: 70px;
}

.wwd-item {
  position: relative;
  width: 370px;
}

.backdrop {
  position: fixed;
  background: rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal {
  width: 528px;
  height: 581px;
  background-color: #FFFFFF;
  position: relative;
  padding: 40px;
}

.close {
  width: 30px;
  height: 30px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: absolute;
  right: 8px;
  top: 8px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: #fff;
  border-color: rgba(0, 0, 0, 0.1);
}

.mdl-tittle {
  text-align: center;
  font-size: 20px;
  margin-bottom: 12px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
}

.frm-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.frm-field svg {
  position: absolute;
  left: 12px;
  top: 30px;
}

.frm-field input {
  outline: none;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 30px;
}

.frm-field:focus-within svg {
  fill: var(--accent-color);
}

.frm-field:focus-within input {
  border: 1px solid var(--accent-color);
}

.form-names {
  padding: 4px;
  color: #757575;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}

.tap {
  margin-top: 20px;
  width: 16px;
  height: 15px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  fill: #212121;
}

.form-a {
  color: #2196F3;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
}

.agree {
  color: #757575;
  padding: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.form-btn {
  border: none;
  border-radius: 4px;
  margin-top: 20px;
  margin-left: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 50px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
}

.komentar {
  width: 448px;
  height: 120px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

textarea {
  resize: none;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: scale(1.1) translate(-50%, -50%) rotate(0deg);
          transform: scale(1.1) translate(-50%, -50%) rotate(0deg);
}

.open-modal {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--background-color);
  background-color: var(--accent-color);
  margin-left: 490px;
  margin-top: 15px;
}

.links-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.links-list li {
  width: calc((100% - 90px) / 3);
  margin: 15px;
}

.button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
}

.foto-items {
  width: 370px;
  height: 404px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border: 1px solid #EEE;
}

.links-list {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #FFFFFF;
  border: 0px solid #EEEEEE;
}

.project-title {
  margin-left: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto";
  padding-left: 9px;
  padding-top: 6px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.06em;
  color: #212121;
}

.spesialiasation {
  margin-left: 34px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}

.thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  background: rgba(33, 150, 243, 0.9);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.foto-items a:hover .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.overlay p {
  width: 322px;
  height: 168px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #FFF;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.54px;
  padding-left: 50px;
  padding-top: 50px;
}

.icon-ptf {
  padding: 24px;
  background: #FFF;
}

.buttons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.buttons-list .btn-item:not(:first-child) {
  margin-left: 30px;
}

.button {
  margin: 8px;
  padding: 6px 25px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  background-color: #F5F4FA;
  border-radius: 4px;
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.container.btn {
  /* outline: solid 3px red; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: var(--background-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}/*# sourceMappingURL=main.css.map */