.header{
  position: relative;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    
    color: var(--accent-color);

    & > span{
      color: var(--logo-color);
    }
   
  }

  .nav-list{
    position: absolute;
    top: 33px;
  }
  .contacts-list{
    position: absolute;
    top: 33px;
    right: 115px;
  }



  .nav-link,.contacts-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
  }
  
  .nav-link{
    color: var(--primary-text-color);
  
    padding-top: 32px;
    padding-bottom: 32px;

    &:hover,
    &:focus{
      color: var(--accent-color);
    }
  } 
  
  
  .contacts-list{
    display: flex;
    align-items: center;
    margin-left: auto;
    &:hover,
    &:focus{
      color: var(--accent-color);
    }
  
  }
  .contacts-icon{
    fill: rgba(117, 117, 117, 1);
  }
  
  .network-icon{
    width: 20px;
    height: 20px;
    fill: rgba(175, 177, 184, 1);
  }
  .contacts-link{
    color: var(--secondary-text-color);
    &:hover,
    &:focus{
      color: var(--accent-color);
    }

  } 
  .header{
    padding-top: 24px;
    padding-bottom: 24px;

    display: flex;
    align-items: center;

    &.nav{
      display: flex;
    }

  
  }
  
  
    
    .contacts-list{
      display: flex;
    margin-left: auto;
    }
    .nav-item:not(:first-child),
    .contacts-item:not(:first-child)
    {
      margin-left: 50px;
    }
    
    .container header{ 
      display: flex;
      justify-content: center;
      align-items: center;
    
      padding-top: 24px;
      padding-bottom: 25px;
    
    }

    .mobile-menu{
      @media screen and (max-width:767px){
        display: none;
        position: absolute;
        width: 100%;
        top: 0%;
        left: 0;
        flex-direction: column;
        justify-content: space-between;
        height: 796px;
        background: #FFF;
box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.16), 0px 2px 4px 0px rgba(0, 0, 0, 0.08), 0px 4px 8px 0px rgba(0, 0, 0, 0.04);

      }

      &.is-open {
        display: flex;
        
}
    }
.menu-btn{
  display: inline-block;
  background-color: transparent;
  border: none;
  @media screen and (min-width:768px){
    display: none;
  }

}
.nav-link{
  @media screen and (min-width:$mobile){
    

  }
}

.burger-icon{
  @media screen and (min-width:$mobile){
    

  }

}
.icon-close{
  display: none;
}

.menu-btn.is-open .icon-close{
  display: block;
}
.menu-btn.is-open .burger-icon{
  display: none;
}

