.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    
    color: var(--accent-color);

    & > span{
      color: var(--logo-color);
    }
   
  }
  
  
  
  .nav-link,.contacts-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
  }
  
  .nav-link{
    color: var(--primary-text-color);
  
    padding-top: 32px;
    padding-bottom: 32px;

    &:hover,
    &:focus{
      color: var(--accent-color);
    }
  } 
  
  
  .contacts-list{
    display: flex;
    align-items: center;
    margin-left: auto;
    &:hover,
    &:focus{
      color: var(--accent-color);
    }
  
  }
  .contacts-icon{
    fill: rgba(117, 117, 117, 1);
  }
  
  .network-icon{
    width: 20px;
    height: 20px;
    fill: rgba(175, 177, 184, 1);
  }
  .contacts-link{
    color: var(--secondary-text-color);
    &:hover,
    &:focus{
      color: var(--accent-color);
    }

  } 
  .header{
    padding-top: 24px;
    padding-bottom: 24px;

    display: flex;
    align-items: center;

    &.nav{
      display: flex;
    }
  }
  
  
    
    .contacts-list{
      display: flex;
    margin-left: auto;
    }
    .nav-item:not(:first-child),
    .contacts-item:not(:first-child)
    {
      margin-left: 50px;
    }
    
    .container header{ 
      display: flex;
      justify-content: center;
      align-items: center;
    
      padding-top: 24px;
      padding-bottom: 25px;
    
    }